:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f5f5;
  --background-color-footer: #2f303a;
  --logo-color: #000000;
  --site-nav-color: #ffffff;
  --background-button-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}


.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page {
  color: var(--primary-text-color);
  background-color: var(--site-nav-color);
  font-family: "Roboto", sans-serif;
}

.link a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.link {
  border-bottom: 1px solid #ececec;
}

.lin {
  display: flex;
  align-items: center;
}

.studio {
  margin-right: 50px;
}

.studio:nth-child(3) {
  margin-right: 0;
}

.number {
  margin-right: 30px;
}


.number:nth-child(2) {
  margin-right: 0;
}

.site-nav .title:hover,
.site-nav .title:focus {
  color: var(--accent-color);
}

.site-nav .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.title.current {
  color: var(--accent-color);
}



.site-nav .grey {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
 
}

.site-nav .grey:hover,
.site-nav .grey:focus {
  color: var(--accent-color);
}

.site-nav {
  list-style: none;
  padding: 0;
  margin-left: auto;
}

.logo {
  color: var(--logo-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway", sans-serif;
}

.logo-hed {
  width: 145px;
  height: 31px;
  margin-right: 93px;
}

.logo-style {
  color: var(--accent-color);
}

.retreat {
  margin-bottom: 30px;
  width: 370px;
  margin-right: 30px;
}

.retreat:nth-child(3n) {
  margin-right: 0;
}

.retreat:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.button {
  background-color: var(--background-button-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-style: none;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
}

.button-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item {
  margin-right: 30px;
}

.button-item:nth-child(5) {
  margin-right: 0;
}

.button:hover,
.button:focus {
  color: var(--site-nav-color);
  background-color: var(--accent-color);
}

.section-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.success {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.success a {
  text-decoration: none;
}

.logo-item {
  color: var(--site-nav-color);
}

.foot-top {
  margin-top: 20px;
}

.foot-botton {
  margin-bottom: 9px;
}

.site-nav .item {
  color: var(--site-nav-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.site-nav .style {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.site-nav .item:hover,
.site-nav .item:focus {
  color: var(--accent-color);
}

.site-nav .style:hover,
.site-nav .style:focus {
  color: var(--accent-color);
}

.site-nav {
  font-style: normal;
}

.decoration {
  text-decoration: none;
}
