$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$background-color: #f5f5f5;
$background-color-footer: #2f303a;
$logo-color: #000000;
$site-nav-color: #ffffff;
$background-button-color: #f5f4fa;
$icon-color: #afb1b8;
$background-card: rgba(33, 150, 243, 0.9);