:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --background-color: #2f303a;
    --logo-color: #000000;
    --site-nav-color: #ffffff;
    --background-color-tim: #f5f4fa;
    --icon-color: #afb1b8;
  }
  