:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --logo-color: #000000;
  --site-nav-color: #ffffff;
  --background-color-tim: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.link a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.lin {
  display: flex;
  align-items: center;
}

.link {
  border-bottom: 1px solid #ECECEC;
}

.lin-link {
  margin-right: 344px;
}

.studio {
  margin-right: 50px;
}

.studio:nth-child(3) {
  margin-right: 0;
}

.number {
  margin-right: 50px;
}

.number:nth-child(2) {
  margin-right: 0;
}

.site-nav {
  padding: 0;
}

.site-nav .title:hover,
.site-nav .title:focus {
  color: var(--accent-color);
}

.site-nav .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.title.current {
  color: var(--accent-color);
}

.site-nav .grey {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}


.site-nav .grey:hover,
.site-nav .grey:focus {
  color: var(--accent-color);
}

.logo {
  color: var(--logo-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway", sans-serif;
}

.logo-hed {
  width: 145px;
  height: 31px;
  margin-right: 93px;
}

.logo-style {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--site-nav-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  
}
.button {
  color: var(--site-nav-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border-style: none;
  letter-spacing: 0.06em;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-tim {
  background-color: var(--background-color-tim);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section-style {
  display: flex;
  list-style: none;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  width: 270;
  height: auto;
}

.images {
  margin-right: 30px;
}

.images:nth-child(3) {
  margin-right: 0;
}

.comander {
  width: 270px;
  margin-right: 30px;
  background-color: var(--site-nav-color);
}

.comand {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comander:nth-child(4) {
  margin-right: 0;
}

.feature-list .text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.feature-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.features {
  width: 270px;
  margin-right: 30px;
}

.features:nth-child(4) {
  margin-right: 0;
}

.feature-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.post-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.post {
  display: flex;
  list-style: none;
  padding: 0;
}

.text-title {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.success {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot-top {
  margin-top: 20px;
}

.foot-botton {
  margin-bottom: 9px;
}

.success a {
  text-decoration: none;
}

.logo-item {
  color: var(--site-nav-color);
}

.foot {
  margin-top: 60px;
  margin-bottom: 60px;
}

.site-nav .item {
  color: var(--site-nav-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.site-nav .style {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.site-nav .item:hover,
.site-nav .item:focus {
  color: var(--accent-color);
}

.site-nav .style:hover,
.site-nav .style:focus {
  color: var(--accent-color);
}

.site-nav {
  list-style: none;
  font-style: normal;
}
