:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --logo-color: #000000;
  --site-nav-color: #ffffff;
  --background-color-tim: #F5F4FA;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.page {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.link a {
  color: var(--primary-text-color);
  text-decoration: none;
}


.site-nav .title:hover,
.site-nav .title:focus {
  color: var(--accent-color);
}


.site-nav .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .grey {
  color: var(--title-text-color);
}

.site-nav .grey:hover,
.site-nav .grey:focus {
  color: var(--accent-color);
}


.logo {
  color: var(--logo-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway", sans-serif;
}

.logo-style {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-color);
}
.hero-title {
  color: var(--site-nav-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.button {
  color: var(--site-nav-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.section-tim {
  background-color: var(--background-color-tim);
}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.section-style {
  list-style: none;
}

.feature-list .text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.feature-list {
  list-style: none;
}

.feature-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.post-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.post {
  list-style: none;
}

.text-title {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 19px;
}

.success {
  background-color: var(--background-color);
}

.success a {
  text-decoration: none;
}

.logo-item {
  color: var(--site-nav-color);
}

.site-nav .item {
  color: var(--site-nav-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.site-nav .style {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.site-nav .item:hover,
.site-nav .item:focus {
  color: var(--accent-color);
}

.site-nav .style:hover,
.site-nav .style:focus {
  color: var(--accent-color);
}

.site-nav {
  list-style: none;
  font-style: normal;
}
