:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --logo-color: #000000;
  --site-nav-color: #ffffff;
  --background-color-tim: #f5f4fa;
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.link a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.lin {
  display: flex;
  align-items: center;
}

.link {
  border-bottom: 1px solid #ececec;
}

.lin-link {
  margin-right: 310px;
}

.studio {
  margin-right: 50px;
}

.studio:nth-child(3) {
  margin-right: 0;
}

.lin-rel {
  display: flex;
  align-items: center;
}

.number {
  margin-right: 30px;
}

.icon-mail {
  margin-right: 10px;
  fill: var(--title-text-color);
}

.icon-mail:hover {
  fill: var(--accent-color);
}

.envelope:hover .icon-mail {
  fill: var(--accent-color);
}

.envelope {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.number:nth-child(2) {
  margin-right: 0;
}

.site-nav {
  padding: 0;
}

.site-nav .title:hover,
.site-nav .title:focus {
  color: var(--accent-color);
}

.site-nav .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title.current {
  color: var(--accent-color);
}

.title.current::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: " ";
  position: relative;
  top: 33px;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .grey {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.site-nav .grey:hover,
.site-nav .grey:focus {
  color: var(--accent-color);
}

.logo {
  color: var(--logo-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway", sans-serif;
}

.logo-hed {
  width: 145px;
  height: 31px;
  margin-right: 93px;
}

.logo-style {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imgbg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--site-nav-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  color: var(--site-nav-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border-style: none;
  letter-spacing: 0.06em;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-tim {
  background-color: var(--background-color-tim);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section-style {
  display: flex;
  list-style: none;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.sectiontwo {
  padding-bottom: 94px;
}

img {
  display: block;
  width: 270;
  height: auto;
}

.images {
  position: relative;
  margin-right: 30px;
}

.images:nth-child(3) {
  margin-right: 0;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.text-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--site-nav-color);
}

.comander {
  width: 270px;
  margin-right: 30px;
  background-color: var(--site-nav-color);
}

.comand {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comander:nth-child(4) {
  margin-right: 0;
}

.feature-list .text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.feature-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.features {
  width: 270px;
  margin-right: 30px;
}

.features:nth-child(4) {
  margin-right: 0;
}

.feature-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-tim);
  border-radius: 4px;
}

.section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.post {
  display: flex;
  list-style: none;
  padding: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  list-style: none;
}

.social-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border-radius: 50%;
  border-bottom: none;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: var(--accent-color);
}

.social-icon {
  color: var(--icon-color);
}

.social-link:hover .social-icon {
  color: var(--site-nav-color);
}

.social-item:nth-child(4) {
  margin-right: 0;
}

.text-title {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.success {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-klient {
  padding-top: 94px;
  padding-bottom: 94px;
}

.klients {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.klient {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-left: 0;
}

.rectangle {
  list-style: none;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-class {
  fill: currentColor;
}

.rectangle:nth-child(6) {
  margin-right: 0;
}

.icon-klient {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 30px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-klient:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-top {
  margin-top: 20px;
}

.foot-botton {
  margin-bottom: 9px;
}

.success a {
  text-decoration: none;
}

.logo-item {
  color: var(--site-nav-color);
}

.foot {
  margin-top: 60px;
  margin-bottom: 60px;
}

.site-nav .item {
  color: var(--site-nav-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .style {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item:hover,
.site-nav .item:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .style:hover,
.site-nav .style:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  list-style: none;
  font-style: normal;
}

.conter {
  display: flex;
  align-items: center;
  align-items: baseline;
}

.back {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social {
  display: block;
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.back .fill-icon {
  fill: var(--site-nav-color);
}

.social .social-icons {
  padding-left: 0;
}

.socials {
  color: var(--site-nav-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.modal-backgrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backgrop .is-hidden .modal {
  transform: rotate(-180deg);
}

.modal {
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--site-nav-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal .close-sing {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--site-nav-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--logo-color);
}

.close:hover {
  fill: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription {
  margin-left: auto;
}


.forms {
  display: flex;
}

.sing {
  width: 207px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--site-nav-color);
  margin-bottom: 20px;
}

.mail {
  width: 358px;
  height: 50px;
  padding-left: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--site-nav-color);
}

.button-mail {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 28px;
  cursor: pointer;
  background: var(--accent-color);
  color: var(--site-nav-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
}

.icon-send {
margin-left: 10px;
}

.description {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.name, .phone, .form-email, .comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  outline: 0;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 30px;
}


.emailitemform, .nameitemform, .phoneitemform {
  position: absolute;
  fill: var(--primary-text-color);
  transform: translateX (-60%);
  bottom: 17%;
  right: 94%;
}

.name, .phone, .form-email {
  position: relative;
}

.phone, .form-email, .comment {
  margin-top: 10px;
}

.comment {
  width: 100%;
  margin-bottom: 20px;
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}

.form-input-agree:hover,
.form-input-agree:focus {
  border-color: var(--accent-color);
}

.form-input:hover + .nameitemform,
.form-input:focus + .nameitemform {
  fill: var(--accent-color);
  }

.form-input-agree {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin: 0;
  border-radius: 4px;
  outline: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}

form > .agreetext {
  margin-bottom: 30px;
}

.agree-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkitem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  background-color: var(--accent-color);
}

.icon-modal-form {
  fill: transparent;
  fill: var(--site-nav-color);
  }

.agreetext .agreelink {
  color: var(--accent-color);
  text-decoration: underline;
}


.agreetext input:checked + .agree-label .checkitem {
  background-color: var(--accent-color);
  border: none;
}

.agreetext input:checked + .agree-label .icon-modal-form {
  fill: var(--site-nav-color);
}


form > .agree {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88em;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  color: var(--site-nav-color);
  background-color: var(--accent-color);
  padding: 10px 52px;
}

.agree:hover {
  background-color: #2182d1;
}
